:root {
    --r-VZM-cj: rgba(246, 246, 246, 1);
    --o-nn-NAT: rgba(173, 173, 173, 1);
    --rast-ZJ: rgba(17, 17, 17, 1);
    --umgm-jk: rgba(255, 255, 255, 1);
    --x-2-lrez-v: rgba(112, 112, 255, 1);
    --oy-q9-qs: rgba(246, 246, 246, 1);
    --lm3-fi-g: rgba(173, 173, 173, 1);
    --uh-OVTS: rgba(17, 17, 17, 1);
    --p-4en4p: rgba(255, 255, 255, 1);
    --drq-g4a: rgba(112, 112, 255, 1);
    --xfyy-ud: rgba(246, 246, 246, 1);
    --fr-5-hj-h: rgba(173, 173, 173, 1);
    --oqet-n4: rgba(17, 17, 17, 1);
    --sw-vkr-y: rgba(255, 255, 255, 1);
    --njps-GW: rgba(112, 112, 255, 1);

}
